body{
    color: black;
    height: 100%;
    margin: 0;
}

#header-part{
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

#nav-bar{
    background-color: white;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    padding-top: 25px;
}

#footer-part{
    background-color: black;
    color: white;
    display: flex;
    justify-content: center; 
    gap: 30px;
    padding-bottom: 30px;
    padding-top: 15px;
}

.login-image{
    max-height: 20%;
    width: 60%;
}

#home-button{
    background-color: white;
    border: 0;
}

#login-page{
    display: flex;
    padding-top: 30px;
    padding-bottom: 160px;
    margin-left: 0;
    display: none;
}

#login-info{
    padding: 5%;
    padding-top: 150px;
    margin-left: 25px;
    
}

#sign-up-page{
    display: flex;
    padding-top: 30px;
    padding-bottom: 160px;
    margin-left: 0;
}

#sign-up-info{
    padding: 5%;
    padding-top: 150px;
    margin-left: 25px;
}
